
# --- QuestaSim/ModelSim Files ---


# Ignore libraries, logs, and simulation results
work/
*.wlf
transcript
vsim.wlf
*.log
*.vstf
*.vcd
*.vpd
modelsim.ini

# Ignore simulation-generated temporary files
*.tmp
*.bak
*.cf


